<!DOCTYPE css>

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  /*background-color: #303030;*/
	background-color: #F5F5F5;
	line-height: 1;
}
h1 {
  color: black;
  font-family: "Courier new", Courier, sans-serif;
  font-size: 70px;
  font-style: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link {
	color: white;
}

a:visited {
	color: grey;
}

/*#canvas {
  position: absolute;
  top: 600;
  bottom: 0;
  left: 0;
  right: 0;
	margin: auto;
  height: 650px;
  width: 650px;
  border: 2px solid black;*/

#sideNav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#sideNav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

#home {
	top: 120px;
	background-color: #FF4C4C;
}

#pictures {
	top: 180px;
	background-color: #4CAF50;
}

#videos {
  top: 240px;
  background-color: #2196F3;
}

#about {
  top: 300px;
  background-color: grey;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	border:3px solid #000000;
}
